*.class
*.swp

# Package Files #
*.jar
*.war
*.ear

/binarypig/target/
/binarypig/.classpath
/binarypig/.project
/binarypig/.settings
dummy

/src/
lib/
include/
local/
lib64
*.pyc
local_settings.py
django-project/.Python
django-project/src
 
/.vagrant/
/packages/*.deb
/packages/*.tar.gz

