
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{%endblock%} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{STATIC_URL}}/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <script src="{{STATIC_URL}}jquery/js/jquery-1.9.1.min.js"></script>
    <script src="{{STATIC_URL}}jquery/js/jquery.dataTables.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">BinaryPig</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/search">Search</a></li>
              <li class="active"><a href="/facet?search_type=yara">Yara</a></li>
              <li class="active"><a href="/facet?search_type=clamav">ClamAV</a></li>
              <li class="active"><a href="/facet?search_type=pehash">PE Hash</a></li>
              <li class="active"><a href="/facet?search_type=peframe">PE Frame</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

   {% block content %}
   {% endblock content %}
   {% block endofbody %}
   {% endblock endofbody %}
  </body>
</html>

